
.row
  .col-sm-12
    .box
      .box-header
        .col-sm-12
          %h2.page-header
            ="Edit user for"+ @user.first_name
      .box-body
        .row
          .col-sm-4
            = form_for  @user do |f|
              = render :partial => 'form', :locals => {:f => f}
              = f.submit "&#10003; #{t(:save)}".html_safe, class: 'btn btn-primary'
              = link_to t(:cancel), users_url, :class=>"btn btn-secondary"

